################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OwenLydenHB.github.io/FileContentIndex
/.vs/OwenLydenHB.github.io/config/applicationhost.config
/.vs/slnx.sqlite
/.vs/slnx.sqlite
/.gitignore
/.vs/slnx.sqlite
/.vs/OwenLydenHB.github.io/v17/DocumentLayout.backup.json
/.vs/OwenLydenHB.github.io/v17/DocumentLayout.json
/.vs/OwenLydenHB.github.io/v17/.wsuo
